//////////////////////////////
//  COLORS
//////////////////////////////

$color__pink: #d22856; // some h1
$color__green: #3dc644; // check mark
$color__orange: #f25b26; // cross mark
$color__white: #ffffff; // white
$color__gray: #f2f2f2; // some bg
$color__gray--darker: #e5e5e5; // table
$color__blue: #283645; // some bg
$color__blue--darker: #1d2631; // some bg
$color__black: #000000; // some h2

$text-color--light: $color__white;
$text-color--dark: $color__blue;
$text-color--black: $color__black;

//////////////////////////////
//  FONT SETTINGS
//////////////////////////////

$font-size: 14px;
$font-size--big: 18px;
$font-size__h1: 24px;
$font-size__h1--low: 18px;
$font-size__h1--big: 40px;
$font-size__h1--huge: 50px;
$font-size__h2--low: 16px;
$font-size__h2: 18px;
$font-size__h2--big: 30px;
$line-height: 24px;
$line-height--low: 18px;
$line-height--big: 30px;
$line-height__h1: 30px;
$line-height__h1--low: 24px;
$line-height__h1--big: 48px;
$line-height__h1--huge: 56px;
$line-height__h2: 24px;
$line-height__h2--big: 36px;
$font-weight: 400;
$font-weight--light: 300;
$font-weight--bold: 700;
$font-weight: $font-weight;
$font-weight__h1: $font-weight--light;
$font-weight__h2: $font-weight--bold;
$font-family: "Open Sans", Arial, sans-serif;
$font: $font-weight #{$font-size}/#{$line-height} $font-family;
$font--big: $font-weight #{$font-size--big}/#{$line-height--big} $font-family;
$font__h1: $font-weight--light #{$font-size__h1}/#{$line-height__h1} $font-family;
$font__h1--low: $font-weight--light #{$font-size__h1--low}/#{$line-height__h1--low} $font-family;
$font__h1--big: $font-weight--light #{$font-size__h1--big}/#{$line-height__h1--big} $font-family;
$font__h1--huge: $font-weight--light #{$font-size__h1--huge}/#{$line-height__h1--huge} $font-family;
$font__h2: $font-weight--bold #{$font-size__h2}/#{$line-height__h2} $font-family;
$font__h2--big: $font-weight--bold #{$font-size__h2--big}/#{$line-height__h2--big} $font-family;

//////////////////////////////
//  SIZES
//////////////////////////////

$viewport-width--xs: 320px;
$inner-padding--xs: 40px;
$content-width--xs: $viewport-width--xs - $inner-padding--xs;
$viewport-width--md: 700px;
$inner-padding--md: 80px;
$content-width--md: $viewport-width--md - $inner-padding--md;
$viewport-width--lg: 1200px;
$inner-padding--lg: 260px;
$content-width--lg: $viewport-width--lg - $inner-padding--lg;
$breakpoint__mobile: 320px;
$breakpoint__tablet: 700px;
$breakpoint__desktop: 1200px;
$breakpoint__desktop--big: 1440px;

//////////////////////////////
//  PATHS
//////////////////////////////

$path__img: "../img";