@import "components/normalize";

@import "variables";
@import "mixin";

@import "components/type";
@import "components/scaffolding";
//@import "components/grid-highlight";

@import "components/buttons";
@import "components/slider-pagination";
@import "components/phone";
@import "components/email";
@import "components/address";
@import "components/page-header";
@import "components/app-platforms";
@import "components/app-features";
@import "components/app-reviews";
@import "components/app-tariffs";
@import "components/page-footer";