.slider-arrow-pagination__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-right: 50px;
  width: 30px;
  height: 45px;
  background-color: tomato;
}

.slider-arrow-pagination__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-left: 50px;
  width: 30px;
  height: 45px;
  background-color: tomato;
}
