.btn {
  @include reformat__button(inline-block);
  @include tablet {
    margin-bottom: 45px;
  }
  @include desktop {
    width: 300px;
    margin-bottom: 65px;
  }

  font-size: $font-size__h2;
  font-weight: $font-weight--bold;
  line-height: $font-size__h2;

  box-sizing: border-box;
  width: 280px;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 15px;

  color: $color__white;
  border: 3px solid $color__white;
  border-radius: 25px;

  &:hover {
    color: $color__pink;
    background-color: $color__white;
  }

  &:active {
    color: rgba($color__pink, 0.3);
  }
}