.page-footer {
  @include tablet {
    padding-top: 50px;
  }
  @include desktop {
    padding-top: 75px;
  }

  padding-top: 45px;

  text-align: center;

  color: $text-color--dark;

  &__inner {
    @include inner;
  }

  &__contacts {
    @include tablet {
      padding-bottom: 20px;
    }
    @include desktop {
      padding-bottom: 0;
    }

    padding-bottom: 15px;

    .page-footer__inner {
      @include tablet {
        display: flex;

        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }

  &__contacts-title {
    @include reformat__text-block;
    @include tablet {
      font: $font__h1--big;

      width: 100%;
      margin-bottom: 40px;

      flex-grow: 1;
    }
    @include desktop {
      font: $font__h1--huge;

      margin-bottom: 55px;
    }

    font: $font__h1;

    margin-bottom: 30px;
  }

  &__contact-item {
    @include tablet {
      width: 300px;
      margin-bottom: 0;

      flex-grow: 1;

      &:nth-of-type(2n) {
        margin-right: 0;
        margin-bottom: 45px;
      }

      & > * {
        width: 300px;
        margin: 0 auto;
      }
    }
    @include desktop {
      &:nth-of-type(2n) {
        margin-bottom: 0;

        order: 1;
      }
    }

    margin-bottom: 20px;

    h2 {
      @include reformat__text-block;
      @include desktop {
        margin-bottom: 25px;
      }

      font: $font__h2;

      margin-bottom: 2px;
    }

    h2 + * {
      @include reformat__text-block;

      font: $font__h1;

      color: $color__pink;
    }

    a:hover {
      text-decoration: underline;

      color: $text-color--dark;
    }
  }

  &__map {
    @include tablet {
      height: 305px;
      padding-top: 0 + 72px;

      background-image: linear-gradient(to bottom left,
      $color__white 50%,
      transparent 50%),
      linear-gradient(to bottom right,
      $color__white 50%,
      transparent 50%),
      url("#{$path__img}/md/map--full.png");
      background-size: 50.1% 72px, 50% 72px, auto;
    }
    @include desktop {
      height: 400px;
      padding-top: 0 + 123px;

      background-image: linear-gradient(to bottom left,
      $color__white 50%,
      transparent 50%),
      linear-gradient(to bottom right,
      $color__white 50%,
      transparent 50%),
      url("#{$path__img}/lg/map.png");
      background-size: 50.1% 123px, 50% 123px, auto;
    }
    @include desktop--big {
      background-image: linear-gradient(to bottom left,
      $color__white 50%,
      transparent 50%),
      linear-gradient(to bottom right,
      $color__white 50%,
      transparent 50%),
      url("#{$path__img}/lg/map--big.png");
    }

    height: 165px;
    padding-top: 0 + 35px;

    background-color: $color__gray;
    background-image: linear-gradient(to bottom left,
    $color__white 50%,
    transparent 50%),
    linear-gradient(to bottom right,
    $color__white 50%,
    transparent 50%),
    url("#{$path__img}/xs/map.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, top right, bottom center;
    background-size: 50.1% 35px, 50% 35px, cover;

    // ОТ СЕБЯ
    @media (min-width: 2560px) {
      height: 855px;
      padding-top: 0 + 262px;

      background-image: linear-gradient(to bottom left,
      $color__white 50%,
      transparent 50%),
      linear-gradient(to bottom right,
      $color__white 50%,
      transparent 50%),
      url("#{$path__img}/lg/map--full.png");
      background-size: 50.1% 262px, 50% 262px, auto;
    }
  }

  &__sub-footer {
    @include tablet {
      display: flex;
    }

    display: none;

    min-height: 130px;

    align-items: center;

    .page-footer__inner {
      display: flex;

      justify-content: space-between;
    }
  }

  &__logo-wrap {
    width: 145px;
    height: 40px;

    flex-shrink: 0;

    img {
      position: relative;
      top: -4px;
    }
  }

  &__social {
    display: flex;

    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    line-height: $line-height--low;

    display: flex;

    width: 220px;

    text-align: right;

    flex-shrink: 0;
    align-items: center;

    a {
      img {
        display: inline-block;

        width: auto;
        margin: 0 10px;
      }

      &:last-of-type {
        img {
          margin-right: 0;
        }
      }
    }
  }
}