.app-platforms {
  color: $text-color--light;
  text-align: center;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 105px;
    background: url("#{$path__img}/md/bg__app-platforms.png") no-repeat center bottom;
    background-size: 700px 545px;

    @include retina() {
      background-image: url("#{$path__img}/md/bg__app-platforms--2x.png");
    }
  }

  @include desktop {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url("#{$path__img}/lg/bg__app-platforms.png") no-repeat right bottom;
    background-size: 1050px 645px;

    @include retina() {
      background-image: url("#{$path__img}/lg/bg__app-platforms--2x.png");
    }
  }

  @include desktop--big {
    background-position: center bottom;
  }

  &__inner {
    @include inner;

    @include tablet {
      @include inner--custom(300px, 40px, 360px)
    }

    @include desktop {
      @include inner--custom(300px, 130px, 770px)
    }
  }

  &__promo {
    background: url("#{$path__img}/xs/bg__app-platforms.png") no-repeat left bottom;
    background-size: 258px, 286px;
    min-height: 350px;
    padding: 20px 0;
    background-color: transparent;
    
    @include retina() {
      background-image: url("#{$path__img}/xs/bg__app-platforms--2x.png");
    }
    @include retina(3) {
      background-image: url("#{$path__img}/xs/bg__app-platforms--3x.png");
    }

    @include tablet {
      background: none;
      min-height: 0;
      padding: 0;
      margin-bottom: 25px;
    }

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__title {
    display: block;
    font: $font__h1;
    margin: 0;
    text-align: center;

    @include tablet {
      font: $font__h1--big;
      padding: 0 40px;
    }

    @include desktop {
      padding: 0;
      font: $font__h1--huge;
    }
  }

  &__download {
    padding: 30px 0;
    background-color: $color__blue--darker;

    @include tablet {
      background: none;
      padding: 0;
    }
  }

  &__images-wrap {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-bottom: 25px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__platform-image {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 18px;
    width: auto;
    height: auto;
  }

  &__desc {
    @include reformat__text-block;

    @include tablet {
      font: $font__h1--low;
    }
  }
}
