.app-reviews {
  text-align: center;
  line-height: $line-height--big;
  padding: 45px 0 40px;
  color: $text-color--dark;

  @include tablet {
    padding: 75px 0 20px;
  }

  @include desktop {
    padding: 70px 0 35px;
  }

  &__inner {
    @include inner;
  }

  &__reviews-wrap {
    @include desktop {
      position: relative;
      padding-top: 115px;
      background: url("#{$path__img}/icon__quotes.svg") no-repeat top center / 79px 64px;
    }
  }

  &__review-item {
    margin-bottom: 30px;
    display: none;

    @include desktop {
      width: 780px;
      margin: 0 auto;
    }

    &--showed {
      display: block;

      @include tablet {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__review-author {
    @include tablet {
      order: 2;
    }
  }

  &__author-name {
    @include reformat__text-block;

    font-weight: $font-weight--bold;
    font-size: $font-size__h2;
    line-height: $line-height--big;
    color: $text-color--black;
    margin-bottom: 10px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 1px;
    }
  }

  &__author-desc {
    @include reformat__text-block();

    font-size: inherit;
    display: none;

    @include tablet {
      display: block;
    }

    @include desktop {
      font: $font--big;
    }
  }

  &__review-text {
    @include reformat__text-block;
    line-height: $line-height--big;

    quotes: "\00ab" "\00bb";
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }

    @include tablet {
      font-size: $font-size__h1--low;
      margin-bottom: 35px;
    }

    @include desktop {
      quotes: none;
      font: $font--big;
    }
  }

  .slider-pagination {
    @include desktop {
      display: none;
    }
  }
}