.app-tariffs {
  @include top-gradient(25px);
  color: $text-color--dark;
  line-height: $line-height--big;

  background-color: $color__gray;
  padding-top: 65px + 25px;
  padding-bottom: 45px;
  overflow: hidden;

  &__inner {
    @include inner;
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 40px;
    position: relative;
    left: -$content-width--xs;

    td, th {
      box-sizing: border-box;
      min-width: $content-width--xs;
      max-width: $content-width--xs;
      border-radius: 3px;
    }
  }

  &__table-header-row > * {
    border-right: 2px solid $color__gray--darker;

    &:last-child {
      border-width: 0;
    }
  }

  &__tariff-title {
    position: relative;
    color: $text-color--light;
    background-color: $color__blue;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;

    &--hit::before {
      content: "";
      top: 0;
      left: -2px;
      position: absolute;
      width: 74px;
      height: 73px;
      background: url("#{$path__img}/hit.png") no-repeat top left;
    }

    &--empty-cell {
      visibility: hidden;
      border-width: 0;
      display: none;
    }
  }

  &__tariff-name {
    @include reformat__text-block;

    text-transform: uppercase;
    font-size: $font-size__h2;
    font-weight: $font-weight__h2;
  }

  &__tariff-price {
    @include reformat__text-block;

    font-style: normal;
    text-transform: uppercase;
    font-size: $font-size__h1;
    font-weight: $font-weight__h1;
  }

  &__table-feature {
    border: 2px solid $color__gray--darker;
    background-color: $color__white;
    color: $text-color--dark;
    font-size: $font-size;
    padding: 15px 20px;
    font-weight: $font-weight;
    text-align: left;
    display: none;
  }

  &__table-cell {
    position: relative;
    border: 2px solid $color__gray--darker;
    background-color: $color__white;
    color: $text-color--dark;
    font-size: $font-size;
    padding: 15px 20px;
    text-transform: uppercase;

    &--yes::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 26px;
      box-sizing: border-box;
      width: 14px;
      height: 28px;
      border: 2px solid $color__green;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }

    &--nope::before, &--nope::after {
      content: "";
      position: absolute;
      transform: rotate(45deg);
    }
    &--nope::before {
      background-color: $color__orange;
      top: 28px;
      right: 15px;
      width: 34px;
      height: 2px;
    }
    &--nope::after {
      background-color: $color__orange;
      top: 12px;
      right: 31px;
      width: 2px;
      height: 34px;
    }
  }

  &__table-cell-feature::before {
    @include reformat__text-block(inline-block);

    content: attr(data-feature);
  }

  &__table-cell-include {
    @include reformat__text-block(inline-block);

    float: right;
    font-size: 0;
  }

}