.app-tariffs {
  @include top-gradient(25px);
  color: $text-color--dark;
  line-height: $line-height--big;
  background-color: $color__gray;
  padding-top: 65px + 25px;
  padding-bottom: 45px;
  overflow: hidden;

  @include tablet {
    @include top-gradient(53px);
    padding-top: 35px + 53px;
    padding-bottom: 70px;
    overflow: visible;
  }

  @include desktop {
    @include top-gradient(91px);
    padding-top: 62px + 91px;
    padding-bottom: 95px;
  }

  &__inner {
    @include inner;
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 40px;
    position: relative;
    left: -$content-width--xs;

    @include tablet {
      position: static;
      width: 100%;
      margin-bottom: 0;
    }

    td, th {
      box-sizing: border-box;
      min-width: $content-width--xs;
      max-width: $content-width--xs;
      border-radius: 3px;

      @include tablet {
        box-sizing: content-box;
        min-width: 0;
        max-width: none;
      }
    }
  }

  &__table-header-row > * {
    border-right: 2px solid $color__gray--darker;

    &:last-child {
      border-width: 0;
    }
  }

  &__tariff-title {
    position: relative;
    color: $text-color--light;
    background-color: $color__blue;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      padding-top: 15px;
      padding-bottom: 10px;
      //padding: 15px 35px 10px;
    }

    @include desktop {
      padding: 20px;
    }

    &--hit::before {
      content: "";
      top: 0;
      left: -2px;
      position: absolute;
      width: 74px;
      height: 73px;
      background: url("#{$path__img}/xs/hit.png") no-repeat top left;

      @include tablet {
        width: 61px;
        height: 61px;
        background-size: contain;
        background-image: url("#{$path__img}/md/hit.png");
        left: 0;
      }

      @include desktop {
        background-image: url("#{$path__img}/lg/hit.png");
        width: 74px;
        height: 73px;
      }
    }

    &--empty-cell {
      visibility: hidden;
      border-width: 0;
      display: none;

      @include tablet {
        display: table-cell;
      }
    }
  }

  &__tariff-name {
    @include reformat__text-block;

    text-transform: uppercase;
    font-size: $font-size__h2;
    font-weight: $font-weight__h2;

    @include tablet {
      font-size: $font-size__h2--low;
    }

    @include desktop {
      font-size: $font-size__h2;
      margin-bottom: 1px;
    }
  }

  &__tariff-price {
    @include reformat__text-block;

    font-style: normal;
    text-transform: uppercase;
    font-size: $font-size__h1;
    font-weight: $font-weight__h1;

    @include tablet {
      font-size: $font-size__h1--low;
    }

    @include desktop {
      font-size: $font-size__h1;
    }
  }

  &__table-feature {
    border: 2px solid $color__gray--darker;
    background-color: $color__white;
    color: $text-color--dark;
    padding: 10px 15px 5px;
    font-weight: $font-weight;
    text-align: left;
    display: none;

    @include tablet {
      display: table-cell;
    }

    @include desktop {
      font-size: $font-size--big;
      padding: 16px 25px 14px;
    }
  }

  &__table-cell {
    position: relative;
    border: 2px solid $color__gray--darker;
    background-color: $color__white;
    color: $text-color--dark;
    font-size: $font-size;
    padding: 15px 20px;
    text-transform: uppercase;

    @include tablet {
      padding: 0;
    }

    &--yes::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 26px;
      box-sizing: border-box;
      width: 14px;
      height: 28px;
      border: 2px solid $color__green;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);

      @include tablet {
        //top: 5px;
        //right: 65px;
        //transform: rotate(45deg);
        top: 50%;
        right: 50%;
        transform: translate(50%, -65%) rotate(45deg);
      }

      @include desktop {
        transform: translate(50%, -60%) rotate(45deg);
      }
    }

    &--nope::before, &--nope::after {
      content: "";
      position: absolute;
      transform: rotate(45deg);

      @include tablet {
        transform: translate(50%, -50%) rotate(45deg);
      }
    }

    &--nope::before {
      background-color: $color__orange;
      top: 28px;
      right: 15px;
      width: 34px;
      height: 2px;

      @include tablet {
        top: 50%;
        right: 50%;
      }
    }

    &--nope::after {
      background-color: $color__orange;
      top: 12px;
      right: 31px;
      width: 2px;
      height: 34px;

      @include tablet {
        top: 50%;
        right: 50%;
      }
    }
  }

  &__table-cell-feature::before {
    @include reformat__text-block(inline-block);

    content: attr(data-feature);

    @include tablet {
      display: none;
    }
  }

  &__table-cell-include {
    @include reformat__text-block(inline-block);

    float: right;
    font-size: 0;
  }

  .slider-pagination {

    @include tablet {
      display: none;
    }
  }

}