.btn {
  @include reformat__button(block);

  font-size: $font-size__h2;
  font-weight: $font-weight--bold;
  line-height: $font-size__h2;
  padding: 15px;
  color: $color__white;
  border: 3px solid $color__white;
  border-radius: 25px;
  margin-bottom: 30px;
  
  &:hover {
    background-color: $color__white;
    color: $color__pink;
  }

  &:active {
    color: rgba($color__pink, .3);
  }
}
