.slider-arrow-pagination {
  &__prev, &__next {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 50%;
    box-sizing: border-box;
    border: 2px solid rgba($color__blue, .3);
    border-top: none;
    cursor: pointer;
  }

  &__prev {
    border-right: none;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
  }

  &__next {
    border-left: none;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
  }
}